<script>
      Hull.widget('wrapper', {
        // Specify template.
        templates: ['intro'],

        // Re-render the widget each time the user changes.
        refreshEvents: ['model.hull.me.change']
      });
    </script>

    <script type="text/x-template" data-hull-template="wrapper/intro">
      {{#if loggedIn}}
        <h4>Hello {{me.name}}
          <a class="btn btn-small btn-inline" href="#" data-hull-action="logout">Logout</a>
        </h4>
        <hr>
        <div data-hull-widget="registration@hull" data-hull-editable="true"></div>
      {{else}}
        <h4>Hello visitor</h4>
        <div data-hull-widget="login_button@hull"></div>
      {{/if}}
    </script>