<aside class="sidebar clear" role="complementary">

  <div class="sidebar__module">
    <div>
      <a class="aligner sidebar-sign-in twitter-icon chunky-link" href="javascript:login('twitter');"><i class="icon-twitter aligner-item"></i>&nbsp;&nbsp;<span class="aligner-item">Log in with Twitter</span></a>
    </div>
  </div>

  <div class="sidebar__module">
  <!-- https://twitter.com/api/users/profile_image/{{ site.meta.twitter_handle }}?size=original -->
    <img src="{{ img }}/logo.svg" alt="{{ site.title }}" class="sidebar__avatar">
    <p class="sidebar__bio">
      {{ site.meta.tagline }}
    </p>
  </div>

  <div class="sidebar__module">
    <a href="//twitter.com/{{ site.meta.twitter_handle }}" class="sidebar__icon">
      <i class="icon-twitter"></i>
    </a>
    <a href="{{ site.feed_url }}" class="sidebar__icon">
      <i class="icon-rss"></i>
    </a>
  </div>

  <div class="sidebar__module">
    <a href="//twitter.com/{{ site.meta.twitter_handle }}" class="twitter-follow-button" data-show-count="true">
      Follow @{{ site.meta.twitter_handle }}
    </a>
  </div>

</aside>